/*

footer{

width: 100%;
height: 100px;
background-color: #5BA9FF;
color:#ededed;
opacity:0.7;

}
*/


#mainFrame{

    display: inline-block;
    width:1200px;
    min-height: 800px;
    overflow: hidden;
}


#mainTitleFrame{

    margin:30px 0px;

}

#mainTitle{

  
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    display: inline;
    margin:auto;
    margin-top:30px;
    font-size:40pt;
    background-color: #5BA9FF;
    color:white;
    width:500px;
    padding:0px 20px;


}

#mainTitle1{


   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: inline;
    margin:auto;
    margin-top:30px;
    font-size:45pt;
    background-color: white;
    color:#5BA9FF;
    width:500px;
    
    padding-left:20px;
    padding-right: 10px;

}


#mainTitleFrame h3{

    color: #aaaaaa;
    letter-spacing: 15px;

}


 #leftAside{


    border : 1px solid #dfdfdf;
    float: left;
    height: 400px;
    width:200px;
    border-radius: 10px;
}

#rightAside{

    border : 1px solid #dfdfdf;
    float: right;
    height: 400px;
    width:200px;
    border-radius: 10px;
}

#sideMenu{

    border : 1px solid #dfdfdf;
    background-color: #fafafa;
    float: left;
    height: 500px;
    width:200px;
    border-radius: 5px;

    color:#9f9f9f;
    font-size:15pt;
    font-weight: bold;

}



#sideMenu ul{

    text-decoration: transparent;
    list-style: none;
    line-height:3em;
    text-align: left;
    padding:0px;  

}


#sideMenu li{

    border-top: 1px solid #dfdfdf;
    padding:0px;  
    padding-left:20px;
    color:#666666;
    font-size:11pt;

}

#sideMenu li:hover{

    background-color:white;
    color:#5BA9FF
    

}

#sideMenu a{

    text-decoration: none;
    color:#9f9f9f;

}

#sideTitle{

    font-size:20pt;
    color:#8f8f8f; 

}

#article1{

    border : 1px solid #dfdfdf;
    height: 500px;
    width:750px;
    display: inline-block;

}

#article2{

    border : 1px solid #dfdfdf;
    height: 500px;
    width:950px;
    display: inline-block;

}
#dm_ul{ list-style: none; letter-spacing: 10px;vertical-align:middle;
    padding:5px; min-width: 300px;  border-top:3px solid #5BA9FF;
    border-bottom:3px solid #5BA9FF; color:#555555; text-align: center;}

  .dropmenu ul ul{position: absolute; display: none; background-color: #5BA9FF;
    padding:1px;}
  .dropmenu ul ul li{display: block; background-color: #fdfdfd; color: white; letter-spacing: 0px;}
.dropmenu ul li{display: inline-block; }
.dropmenu ul li a{display: block; width: 150px; color: #555555; line-height: 43px;
  text-decoration: none;}
.dropmenu ul li a:hover{background-color: #fdfdfd; color: #5BA9FF; font-weight: bolder;}
