/*

footer{

width: 100%;
height: 100px;
background-color: #5BA9FF;
color:#ededed;
opacity:0.7;

}
*/

body{

  background-color: #f5f5f5;

}

#mainAd{

float: left;
margin-top: 60px;
margin-left: 50px;

}

#mainAd1{

display: inline-block;
margin-top: 60px;

margin-left: -250px;

}


#mainAd2{

float: right;
margin-top: 60px;
margin-right: 50px;
}

#mainAd3{

display: inline-block;
margin-top: 60px;
margin-right: -250px;
}


#mainFrame{


    display: inline-block;
    width:1200px;
    min-height: 800px;
    overflow: hidden;
}


#mainTitleFrame{

  display: inline-block;
    margin:30px 40px;

}

#subTitleFrame{

    float: left;
    text-align: left;
    margin:30px 0px;
}
#subTitleFrame1{

    float: left;
    text-align: left;

    margin-top: 10px;
    margin:30px 0px;
}

#mainTitle{


    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    display: inline;
    margin:auto;
    margin-top:30px;
    font-size:20pt;
    background-color: #5BA9FF;
    color:white;
    width:500px;
    padding:0px 10px;


}

#mainTitle1{


   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: inline;
    margin:auto;
    margin-top:30px;
    font-size:25pt;
    background-color: white;
    color:#5BA9FF;
    width:500px;

    padding-left:10px;
    padding-right: 5px;

}


#mainTitleFrame h5{

    color: #aaaaaa;
    letter-spacing: 5px;

}



/*leftAside*/
 #leftAside{


    border : 1px solid #dfdfdf;
    float: left;
    height: 400px;
    width:200px;
    border-radius: 10px;
}


#mCard{


  background-image: url("img/ddg.png");

    font-weight: bold;
    font-size:12pt;
    font-family: 'Nanum Gothic';
    color:#888888;
    background-color:#ffffff;
    border:1px solid #d5d5d5;
    width:200px;
    height:400px;
    text-align:center;
    position:relative;
    border-radius: 10px;


     text-shadow: -1px 0 #555555, 0 1px #555555, 1px 0 #555555, 0 -1px #555555;
      -moz-text-shadow: -1px 0 #555555, 0 1px #555555, 1px 0 #555555, 0 -1px #555555;
      -webkit-text-shadow: -1px 0 #555555, 0 1px #555555, 1px 0 #555555, 0 -1px #555555;




}


#mCard1{


  background-image: url("img/ddg1.png");

    font-weight: bold;
    font-size:12pt;
    font-family: 'Nanum Gothic';
    color:#888888;
    background-color:#ffffff;
    border:1px solid #d5d5d5;
    width:200px;
    height:400px;
    text-align:center;
    position:relative;
    border-radius: 10px;


     text-shadow: -1px 0 #555555, 0 1px #555555, 1px 0 #555555, 0 -1px #555555;
      -moz-text-shadow: -1px 0 #555555, 0 1px #555555, 1px 0 #555555, 0 -1px #555555;
      -webkit-text-shadow: -1px 0 #555555, 0 1px #555555, 1px 0 #555555, 0 -1px #555555;




}


#sCard{

    position:absolute;
    top:350px; left:-1px;
    background:#000;
    line-height: 2em;
    width:202px; height:50px;
    overflow: hidden;
    opacity: 0.8;
    color:#fdfdfd;
    -webkit-transition-duration:1s, 1s;
    -moz-transition-duration:1s, 1s;
    transition-duration: 1s,1s;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:  10px;

}


#sCard:hover{

    top:250px; left:-1px;
    height:151px;
    color:#ffffff;
    background-color: #444444;

  }


/*이미지 슬라이더 만들기*/

.slide{

  height: 300px;
  width:750px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;

}


.slide ul{

  width: 3750px;
  position: absolute;
  top:0;
  left:0;
  font-size: 0;  margin: 0 auto;

}

.slide ul li{

display: inline-block;

}

#back{

  position: absolute;
  top: 100px;
  left: 0;
  cursor: pointer;
  z-index: 1;
  display: inline-block;


}

#next{

  position: absolute;
  top: 100px;
  right: 0;
  cursor: pointer;
  z-index: 1;
}

#mainBox{

  padding:20px;

}

.mainCell{

  margin:10px;
  width:150px;
  height: 50px;
  background: #f2f2f2;
  border: 1px solid #dddddd;
  color:#cccccc;
  border-radius: 50px;
  float: left;
  letter-spacing: 5px;
  vertical-align: center;
  line-height: 3em;

}


.mainCell:hover{

  background-color: #eeeeee;
  color:#bbbbbb;
  text-align: center;
  font-weight: bolder;

}



#rightAside{

    border : 1px solid #dfdfdf;
    float: right;
    height: 400px;
    width:200px;
    border-radius: 10px;
}

#sideMenu{

    border : 1px solid #cccccc;
    background-color: #fafafa;
    float: left;
    height: 500px;
    width:200px;
    border-radius: 5px;

    color:#9f9f9f;
    font-size:15pt;
    font-weight: bold;

}



#sideMenu ul{

    text-decoration: transparent;
    list-style: none;
    line-height:3em;
    text-align: left;
    padding:0px;

}


#sideMenu li{

    border-top: 1px solid #dfdfdf;
    padding:0px;
    padding-left:20px;
    color:#666666;
    font-size:11pt;

}

#sideMenu li:hover{

    background-color:white;
    color:#5BA9FF


}

#sideMenu a{

    text-decoration: none;
    color:#9f9f9f;

}

#sideTitle{

    font-size:20pt;
    color:#8f8f8f;

}

#article1{

    background-color: #efefef;
    border : 1px solid #dfdfdf;
    height: 500px;
    width:750px;
    display: inline-block;

}

#article2{

    background-color: #fdfdfd;
    border : 1px solid #cccccc;
    min-height: 500px;
    overflow: hidden;
    width:950px;
    display: inline-block;

}
#dm_ul{ list-style: none; letter-spacing: 10px;vertical-align:middle;
    padding:5px; min-width: 300px;  border-top:3px solid #5BA9FF;
    border-bottom:3px solid #5BA9FF; color:#555555; text-align: center;   z-index: 1;}

  .dropmenu ul ul{position: absolute; display: none; background-color: #5BA9FF;
    padding:1px;   z-index: 1;}
  .dropmenu ul ul li{display: block; background-color: #fdfdfd; color: white; letter-spacing: 0px;   z-index: 1;}
.dropmenu ul li{display: inline-block;   z-index: 1; }
.dropmenu ul li a{display: block; width: 150px; color: #555555; line-height: 43px;
  text-decoration: none;   z-index: 1;}
.dropmenu ul li a:hover{background-color: #fdfdfd; color: #5BA9FF; font-weight: bolder;   z-index: 1;}




/* 반려견이란? - 반려견이란? */


#guideLine{

    border:none;
    border : 1px dashed #dfdfdf;

}

#contentTitle{


    margin:auto;
    margin-top: 30px;
    width:300px;
    color:#555555;
    letter-spacing: 10px;
    font-size : 30pt;
    border-bottom:3px solid #555555;


}

#article2 h5{

    color:#444444;


}


#arti_Title{

    margin-bottom:100px;

}


#content{

    width:900px;
    min-height: 300px;
    overflow: hidden;
    margin:auto;
}

#smTitle1{


    font-size:15pt;
    padding:10px;
    border-left:5px solid #5BA9FF;
    font-weight: bolder;
    color:#7f7f7f;
    text-align: left;
    float: left;

}

#titleBack{

    width:0px; height:0px;
    text-shadow: -1px 0 #555555, 0 1px #555555, 1px 0 #555555, 0 -1px #555555;
    -moz-text-shadow: -1px 0 #555555, 0 1px #555555, 1px 0 #555555, 0 -1px #555555;
    -webkit-text-shadow: -1px 0 #555555, 0 1px #555555, 1px 0 #555555, 0 -1px #555555;


}

#titleBack:hover{

    width:400px;
    height:100px;


}


/* 교감 - 노즈워크*/
#nosework h1{

    display: inline;
    background-color:#999999;
    color:#ffffff;
    padding:10px;


}


#noseword iframe{

margin:20px 0px;

}

#nosework h6{

    font-size: 12pt;


}



#noseTitle{

margin:30px 20px;

font-size:20pt;
font-weight: bolder;
color:#888888;

}

#cellFrame{

    margin-left:40px;
    margin-bottom:40px;


}




/*기초*/
#basicTitle2{

  width:500px;
  text-align: center;
  margin:auto;
  margin-top:30px;
  padding:10px;



}

#basicTitle2 h1{
  width:300px;
  color:#888888;
  font-size:30pt;
  margin:auto;

}

#basicTitle2 h4{
  width:500;
  background-color:#888888;
  color:white;
  margin:auto;

  margin-bottom: 30px;

}


.dont{

  position: relative;
  margin:20px;
  float: left;
  width:200px;
  height:150px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  font-size:13pt;


   text-shadow: -1px 0 #555555, 0 1px #555555, 1px 0 #555555, 0 -1px #555555;
    -moz-text-shadow: -1px 0 #555555, 0 1px #555555, 1px 0 #555555, 0 -1px #555555;
    -webkit-text-shadow: -1px 0 #555555, 0 1px #555555, 1px 0 #555555, 0 -1px #555555;


}

.dont1{

  position: absolute;
  margin:20px;
  float: left;
  width:200px;
  height:30px;
  background-color:#444444;
  top:100px; left:-20px;
  overflow: hidden;
  opacity: 0.8;
  color:#000;
  -webkit-transition-duration:1s, 1s;
  -moz-transition-duration:1s, 1s;
  transition-duration: 1s,1s;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius:  10px;


}
/*
#sCard{

    position:absolute;
    top:350px; left:-1px;
    background:#000;
    line-height: 2em;
    width:202px; height:50px;
    overflow: hidden;
    opacity: 0.8;
    color:#fdfdfd;


}
*/

.dont1:hover{

    top:0px; left:-21px;
    height:130px;
    opacity: 0.8;
    color:#ffffff;
    background-color: #444444;

  }


.dis{

  color:#ffffff;
    font-size:10pt;

}



.need{

  position: relative;
  border: 1px solid #dddddd;
  height: 150px;
  width: 200px;
  margin:20px;
  text-align: left;

  border-radius: 30px;

}

.need img{

  height: 150px;
  width:200px;
  border-radius: 30px;
  z-index: 1;

}

.need1{

  position: absolute;
  border: 1px solid #dddddd;
  border-radius: 30px;
  height: 110px;
  width: 200px;
  opacity: 0.0;
  top:0px;
  left:0px;
  -webkit-transition-duration:1s, 1s;
  -moz-transition-duration:1s, 1s;
  transition-duration: 1s,1s;
  overflow: hidden;
  padding:20px;

}


.need1:hover{
  opacity: 1;
  position: absolute;
  border: 1px solid #dddddd;
  background-color: #f1f1f1;
  border-radius: 30px;
  width: 700px;

}



.cell{

    position: relative;
    float: left;
    width:130px;
    height:120px;
    border: 1px solid #b6c3e4;
    padding:10px;
    margin:10px;
    background-color: #fafafa;
    border-radius: 50%;
    line-height: 7em;

}

.cell1{

  padding:10px;
  text-align: center;
  line-height: 7em;
  top:-1px;
  left:-1px;
  position: absolute;
  width:130px;
  height:120px;
  overflow: hidden;
  opacity: 0;  border-radius: 50%;


}
.cell1:hover{

  opacity: 1;
  background-color: red;
  font-weight: bolder;
  border:3px solid #5BA9FF;
  background-color: white;
  color:#5BA9FF;

}



.walk{

    float: left;
    position: relative;
    margin:20px;
    width: 250px;
    height:400px;
    border: 1px solid #cccccc;
    border-radius: 30px;

}

.walk img{

  width: 250px;
  height:180px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

}

.walk1{
position: absolute;
top:180px;
left:0px;
  width: 250px;
height:210px;
border-bottom-right-radius: 30px;
border-bottom-left-radius: 30px;
color:#dfdfdf;
}

.walk1:hover{
position: absolute;
top:180px;
left:0px;
width: 250px;
height:210px;
border-bottom-right-radius: 30px;
border-bottom-left-radius: 30px;
background-color:#fff;
color:#888888;
}


.clean{

  float: left;
  width: 700px;
  height:200px;
  border : 1px solid #dfdfdf;
  margin-bottom: 30px;
  margin:30px;

  box-shadow: 10px 10px  #dddddd;

}

.clean:hover{



}


.clean img{

  width:300px;
  height:200px;
  float: left;
}

.clean h2{

  color:#555555;

}

.clean p {

  color:#afafaf;

}

.test{


position: relative;
  margin:20px;
  float: left;
  width:400px;
  height: 400px;
  border: 2px solid #5BA9FF;
  font-size: 50pt;
  color:#5BA9FF;
  background-color: #fff;
  line-height: 6em;
  font-weight: 900;


}


.test1{

  top:-21px;
  left:-21px;
  position: absolute;
  margin:20px;
  float: left;
  width:400px;
  height: 400px;
  opacity:0;


}

.test1:hover{
  padding-top:50px;
  line-height: 3em;
  color:#555555;
  font-size: 11pt;
  top:-21px;
  left:-21px;
  position: absolute;
  margin:20px;
  float: left;
  width:400px;
  height: 400px;
  opacity: 1;


}


footer{

height: 100px;
color:white;
background-color: #5BA9FF;
margin-top: 50px;

}
