
#mainFrame{

    display: inline-block;
    width:1200px;
    min-height: 800px;
    overflow: hidden;
}

#mainTitle{

    margin:auto;
    margin-top:30px;
    font-size:30pt;
    background-color: #5BA9FF;
    color:white;
    width:500px;


}
/*
#menu a{

    text-decoration: none;
    color:#555555;

}


#menu{

    width: 1200px;
    vertical-align:middle;
    color:#555555;
    letter-spacing: 10px;
    text-align: center;
    list-style: none;
    padding:10px;
    border-top:3px solid #5BA9FF;
    border-bottom:3px solid #5BA9FF;

}

#menu li{

    display:inline;
    text-decoration: transparent;
    margin:0px 20px;

    }


#menu a:link{

    text-decoration: none;
    color:black;

}

#menu a:hover{

    font-weight: bolder;
    color: #5BA9FF;

}

*/

 #leftAside{


    border : 1px solid #dfdfdf;
    float: left;
    height: 400px;
    width:200px;
    border-radius: 10px;
}

#rightAside{

    border : 1px solid #dfdfdf;
    float: right;
    height: 400px;
    width:200px;
    border-radius: 10px;
}

#sideMenu{

    border : 1px solid #dfdfdf;
    background-color: #fafafa;
    float: left;
    height: 500px;
    width:200px;
    border-radius: 5px;

    color:#9f9f9f;
    font-size:15pt;
    font-weight: bold;

}


#sideMenu ul{

    text-decoration: transparent;
    list-style: none;
    line-height:3em;
    text-align: left;

}

#sideTitle{

    font-size:20pt;
    color:#afafaf;

}

#article1{

    border : 1px solid #dfdfdf;
    height: 500px;
    width:750px;
    display: inline-block;

}

#article2{

    border : 1px solid #dfdfdf;
    height: 500px;
    width:950px;
    display: inline-block;

}
#dm_ul{ list-style: none; letter-spacing: 10px;vertical-align:middle;
    padding:5px; min-width: 300px;  border-top:3px solid #5BA9FF;
    border-bottom:3px solid #5BA9FF; color:#555555; text-align: center;}

  .dropmenu ul ul{position: absolute; display: none; background-color: #5BA9FF;
    padding:1px;}
  .dropmenu ul ul li{display: block; background-color: #fdfdfd; color: white;}
.dropmenu ul li{display: inline-block; }
.dropmenu ul li a{display: block; width: 150px; color: #555555; line-height: 43px;
  text-decoration: none;}
.dropmenu ul li a:hover{background-color: #fdfdfd; color: #5BA9FF; font-weight: bold;}
